html{
    overflow: auto;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #FFCF98 2.25%, #FFA752 2.25%, #FFA752 47.75%, #FFCF98 47.75%, #FFCF98 52.25%, #FFA752 52.25%, #FFA752 97.75%, #FFCF98 97.75%);
    background-size: 50px 50px;
    background-position: 50px 50px;
}

.container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        width: 95%;
        height: 90vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        background-color: white;
        border-radius: 35px;
        box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.7);
    }
    main{
        height: 90%;
        width: 100%;
        border-radius: 0 0 35px 35px;
        display: flex;
    }
}

.mobileCart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 0px 0px 35px 35px;
    background-color: #212120;
    visibility: hidden;
    display: none;
    h2{
        font-size: 1.2em;
        color: white;
    }
    .cartButton{
        width: 30%;
        height: 60%;
        cursor: pointer;
        color:white;
        background-color:#FFA752;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        h2{
            margin: 0;
        }
    }
}

@media (max-width :720px ) {

    main{
        flex-direction: column-reverse;
    }
    .mobileCart{
        visibility: visible;
        display:flex;
    }
}